{% extends 'base.html' %}

{% block title %}Поиск маршрута{% endblock %}

{% block content %}
        {% if routes %}
            <div class="row">
                <div class="col-md-7 mx-auto">
                    <div class="card shadow mt-3">
                        <div class="card-body">
                            <h3 class="text-center font-italic">
                                Маршрут{% if routes|length %}ы{% endif %} из г.{{ from_city.name }}
                                в г.{{ to_city.name }}
                                </h3>
                            {% for route in routes %}
                                <form action="{% url 'add_route' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="from_city" value="{{ from_city.id }}">
                                    <input type="hidden" name="to_city" value="{{ to_city.id }}">
                                    <input type="hidden" name="travel_time" value="{{ route.total_time }}">
                                    <input type="hidden" name="trains"
                                           value="{% for train in route.trains %}{{ train.id }},{% endfor %}">
                                <table class="table table-striped">
                                    <thead class="table-primary">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col" class="text-center">Время в пути</th>
                                        <th scope="col">Список поездов по этому маршруту</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for train in route.trains %}
                                        <tr>
                                            <th scope="row">{{ forloop.counter }}</th>
                                            <td class="text-center">{{ route.total_time }}</td>
                                            <td>{{ train }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <button type="submit" class="btn btn-sm btn-info mb-3">Сохранить</button>
                                </form>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

    <div class="row mt-5">
        <h4 class="text-center font-italic">Поиск маршрута</h4>
        <div class="col-md-5 mx-auto">
            <div class="card shadow mt-3">
                <div class="card-body ">
                    <form action="{% url 'find_routes' %}" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input class="btn btn-info" type="submit" value="Найти">
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}