{% extends 'base.html' %}

{% block title %}Список поездов{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-7 mx-auto">
            <div class="card shadow">
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th colspan="6">
                                <h5 class="font-italic text-center">Список поездов</h5>
                            </th>
                        </tr>
                        <tr class="table-primary">
                            <th>Номер</th>
                            <th>Откуда</th>
                            <th>Куда</th>
                            <th class="text-center">Время в пути</th>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        {% for train in page_obj %}
                            <tr>
                                <td>
                                    <a href="{% url 'trains:detail_train' train.pk %}">{{ train.name }}</a>
                                </td>
                                <td>{{ train.from_city }}</td>
                                <td>{{ train.to_city }}</td>
                                <td class="text-center">{{ train.travel_time }}</td>
                                <td>
                                    <a class="btn btn-outline-info btn-sm" href="{% url 'trains:update_train' train.pk %}">
                                        Редактировать
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-outline-danger btn-sm" href="{% url 'trains:delete_train' train.pk %}">
                                        Удалить
                                    </a>
                                </td>
                            </tr>

                        {% endfor %}

                    </table>
                </div>

                <nav aria-label="Page navigation" class="d-flex justify-content-center">
                    <ul class="pagination">
                        <li class="page-item">
                            {% if page_obj.has_previous %}
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span></a>
                            {% endif %}

                        </li>
                        {% for page in page_obj.paginator.page_range %}
                            <li class="page-item {% if page == page_obj.number %}active{% endif %}">
                                <a class="page-link " href="?page={{ page }}">{{ page }}</a>
                            </li>
                        {% endfor %}

                        <li class="page-item">
                            {% if page_obj.has_next %}
                                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                                <span aria-hidden="true">&raquo;</span>
                            {% endif %}
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
{% endblock %}